@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #1f1f1f;
}

main {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: Poppins, sans-serif !important;
}

.post {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.19);
}

.loading-icon {
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
