@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 768px) {
  body::before {
    background: url('../public/images/bg.jpg') center top / cover no-repeat;
    filter: blur(4px);
  }
}

main {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background: linear-gradient(-45deg, #000, hsla(0, 0%, 5%, 0.7) 40%);
}

.loading-icon {
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
