@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-y: scroll;
}

body::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background: url('../public/images/bg.jpg') center top / cover no-repeat
      fixed;
    filter: blur(4px);
  }
}

@media (min-height: 1500px) {
  body::before {
    background: url('../public/images/bg-2.jpg') center bottom / cover no-repeat
      fixed;
    filter: blur(4px);
  }
}

main {
  min-height: 100%;
  max-width: 1360px;
}

.header {
  background: linear-gradient(-45deg, #000, hsla(0, 0%, 5%, 0.7) 40%);
}

.loading-icon {
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
